API_SECRET_KEY="mediscansupersecretkey2026"

# MULTIPLE ORIGINS USAGE: https://speaksmartbaguio.com,http://localhost:3000
# Don't use * in production for security reasons
# Specify the allowed origins for CORS
ALLOWED_ORIGINS=http://localhost:3000